.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #C51800;
  border-radius: 10px;
  box-shadow: 0 5px 10px #C51800(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

form label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
}

form input[type="text"],
form input[type="radio"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 18px;
}

form input[type="radio"] + label {
  margin-right: 20px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #800000;
  color: #D6D4D2;
  font-size: 20px;
  cursor: pointer;
}

